{% extends 'generales/main.html'%}
{% load static%}
{% block navbar%}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<h3>LOGIN</h3>

<br>

<form action="" method="post">
    {% csrf_token%}
    <input type="text" name="username" id="" placeholder="Nombre de Usuario">
    <br>
    <input type="password" name="password" id="" placeholder="Contraseña">
    <br>
    <button type="submit">Iniciar sesión</button>
</form>
<button class="btn btn-danger" type="submit">Regístrate</button>
        <a class="btn btn-secondary" href="{% url 'register' %}">Continuar</a>

{% endblock %}