{% extends 'generales/main.html'%}
{% load static%}
{% block navbar%}
{% endblock %}

{% block content %}
<br>
<h2>Registro de usuarios</h2>
<form method="post">
	{% csrf_token %}
	{{form}}
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label>Nombre</label>
				<input class="form-control" type="text" name="first_name" id = "first_name">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >Apellido</label>
				<input class="form-control" type="text" name="last_name" id="last_name">
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >DPI</label>
				<input class="form-control" type="number" name="dpi" id="dpi">
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >Télefono</label>
				<input class="form-control" type="number" name="telefono" id="telefono">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >Nombre de usuario</label>
				<input class="form-control" type="text" name="username" id="username">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >Correo</label>
				<input class="form-control" type="text" name="email" id="email">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >Contraseña</label>
				<input class="form-control" type="password" name="password1" id="password1">
			</div>
		</div>
	</div>
	<div>
		<li>
			La contraseña no debe ser similar a el usuario.
		</li>
		<li>
			La contraseña debe tener al menos 12 caracteres.
		</li>
		<li>
			La contraseña debe contener al menos una Mayuscula.
		</li>
		<li>
			La contraseña debe incluir numeros y caracteres especiales.
		</li>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >Confirmar contraseña</label>
				<input class="form-control" type="password" name="password2" id="password2">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
	</div>
	
	{% if form.errors %}
        <div class="col-12 register-field">
            <div class="alert alert-block alert-danger">
                <ul>
                    <li> El registro ha fallado, intente de nuevo.
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
</form>
<div id="top-header">
    <div class="top-header">
        <ul class="header-links pull-left">
        </ul>
        <ul class="header-links pull-right">
            <li><a href="#"><i class="fa fa-dollar"></i></a></li>
        </ul>
    </div>
</div>
{% endblock %}